# статический анализ кода (линтеры)
isort>=5.10.1,<5.11.0
flake8>=5.0.4,<5.1.0
pylint>=2.15.4,<2.16.0
mypy>=0.982,<1.0
# автоматическое форматирование кода
black>=22.10.0,<22.11.0

# валидация данных
pydantic>=1.10.2,<1.11.0

# веб-фреймворк
fastapi>=0.87.0,<0.88.0
# веб-сервер
uvicorn>=0.20.0,<0.21.0
# работа с файлами
python-multipart>=0.0.5,<0.0.6
# фреймворк для машинного обучения
scikit-learn==1.1.3
# фреймворк для анализа данных
pandas==1.5.2
